<div class="container">
  <h2>Ajouter un Nouveau Dossier</h2>
  <form [formGroup]="dossierForm" (ngSubmit)="submitForm()">

    <!-- Champ Numéro de Dossier -->
    <div>
      <label>Numéro de Dossier :</label>
      <input type="text" formControlName="numDossier" />
    </div>

    <!-- Champ Email Utilisateur -->
    <div>
      <label>Email Utilisateur :</label>
      <input type="email" formControlName="fkEmailUtilisateur" />
    </div>

    <!-- Champ ID Patient -->
    <div>
      <label>ID Patient :</label>
      <input type="text" formControlName="fkIdPatient" />
    </div>

    <!-- Champ Date -->
    <div>
      <label>Date :</label>
      <input type="date" formControlName="date" />
    </div>

    <div>
      <button type="submit" [disabled]="!dossierForm.valid">Ajouter Dossier</button>
    </div>
  </form>
</div>
