/* Style global */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Section du formulaire avec un fond et bordures arrondies */
  .mat-dialog-content {
    width: 500px;  /* Largeur du dialogue */
    max-width: 100%; /* Ne pas déborder de la fenêtre */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
  }
  
  /* Agrandir l'input */
  .mat-input-element {
    font-size: 16px;
    padding: 10px;
  }
  
  /* Champ CIN avec une largeur flexible */
 /* Style pour centrer le .mat-form-field */
.mat-form-field {
    width: 100%; /* Utilise toute la largeur disponible */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Bouton avec des bordures arrondies, couleur et icône */
  button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    background-color: #eacf00;
    color: white;
    margin-top: 10px;
    transition: all 0.3s ease;
  }
  
  /* Ajouter un effet de hover sur le bouton */
  button:hover {
    background-color: #3700b3;
  }
  
  /* Icône dans le bouton */
  button mat-icon {
    margin-right: 8px;
  }
  
  /* Style du bouton avec effet de survol */
  button.mat-raised-button {
    transition: all 0.3s ease;
  }
  
  /* Effet de survol sur le bouton */
  button.mat-raised-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Effet de soulèvement au survol */
  }
  
  /* Effet de pression au clic sur le bouton */
  button.mat-raised-button:active {
    transform: translateY(2px); /* Effet de pression au clic */
  }
  