<h2 mat-dialog-title>
    <mat-icon>face</mat-icon> Entrez votre CIN
  </h2>
  
  <mat-dialog-content>
    <div class="form-container">
      <form (ngSubmit)="onSubmit()">
        <!-- Champ CIN avec icône -->
        <mat-form-field appearance="fill" class="form-field-center">
          <mat-label>CIN</mat-label>
          <input matInput [(ngModel)]="cin" name="cin" placeholder="Entrez votre CIN" required />
          <mat-icon matPrefix>card_membership</mat-icon>
        </mat-form-field>
  
        <!-- Bouton de soumission -->
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>send</mat-icon> Valider
        </button>
        <button mat-raised-button color="primary" type="submit">
            <mat-icon>cancel</mat-icon> Annuler
          </button>
      </form>
    </div>
  </mat-dialog-content>
  