<div class="container">
    <h2>Ajouter un Laboratoire</h2>
    <form #laboratoireForm="ngForm" (ngSubmit)="onSubmit()">
      <!-- Nom -->
      <div>
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="laboratoire.nom" required />
      </div>
  
      <!-- Logo -->
      <div>
        <label for="logo">Logo :</label>
        <input type="file" id="logo" (change)="onFileSelect($event)" />
      </div>
  
      <!-- NRC -->
      <div>
        <label for="nrc">NRC :</label>
        <input type="text" id="nrc" name="nrc" [(ngModel)]="laboratoire.nrc" required />
      </div>
  
      <!-- Actif -->
      <div>
        <label for="active">Actif :</label>
        <input type="checkbox" id="active" [(ngModel)]="laboratoire.active" name="active" />
      </div>
  
      <!-- Date d'activation -->
      <div>
        <label for="dateActivation">Date d'activation :</label>
        <input
          type="date"
          id="dateActivation"
          name="dateActivation"
          [(ngModel)]="laboratoire.dateActivation"
        />
      </div>
  
      <!-- Numéro de téléphone -->
      <div>
        <label for="numTel">Numéro de téléphone :</label>
        <input type="text" id="numTel" name="numTel" [(ngModel)]="laboratoire.numTel" />
      </div>
  
      <!-- Fax -->
      <div>
        <label for="fax">Fax :</label>
        <input type="text" id="fax" name="fax" [(ngModel)]="laboratoire.fax" />
      </div>
  
      <!-- Email -->
      <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" [(ngModel)]="laboratoire.email" required />
      </div>
  
      <!-- Adresse -->
      <h3>Adresse :</h3>
      <div>
        <label for="numVoie">Numéro de voie :</label>
        <input type="text" id="numVoie" name="numVoie" [(ngModel)]="laboratoire.numVoie" />
      </div>
      <div>
        <label for="nomVoie">Nom de la voie :</label>
        <input type="text" id="nomVoie" name="nomVoie" [(ngModel)]="laboratoire.nomVoie" />
      </div>
      <div>
        <label for="codePostal">Code postal :</label>
        <input type="text" id="codePostal" name="codePostal" [(ngModel)]="laboratoire.codePostal" />
      </div>
      <div>
        <label for="ville">Ville :</label>
        <input type="text" id="ville" name="ville" [(ngModel)]="laboratoire.ville" />
      </div>
      <div>
        <label for="commune">Commune :</label>
        <input type="text" id="commune" name="commune" [(ngModel)]="laboratoire.commune" />
      </div>
  
      <!-- Bouton de soumission -->
      <button type="submit">Ajouter</button>
    </form>
  </div>
  